<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>
	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	$theme.include($top_head_include)
		
	<!-- IE -->
	<!--[if lte IE 8]> <link rel="stylesheet" href="$css_folder/ie/ace-ie.min.css" /> <![endif]-->
	
	<!-- ace settings handler -->
	<script src="$javascript_folder/ace-extra.min.js"></script>	
</head>

<body class="$css_class" >
	
<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)
<div id="wrapper">
	## *********** Navbar ****************##
	<div class="navbar" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>
			<h1 class="site-title">
				<a class="$logo_css_class" href="$site_default_url" title="#language("go-to") $site_name">
					<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
				</a>
				#if ($show_site_name)
					<span class="site-name" title="#language("go-to") $site_name">
						<small>$site_name</small>
					</span>
				#end
			</h1>
		#dockbar()
		
		</div>
	<div class="clear"></div>
	
<div class="main-container container-fluid" id="content">
	<a class="menu-toggler" id="menu-toggler" href="#">
		<span class="menu-text"></span>
	</a>
	
	#parse ("$full_templates_path/side_bar.vm")
	
	<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			#breadcrumbs()
			<!-- .breadcrumb -->
			
			<div class="nav-search" id="nav-search">
				$theme.journalContentSearch()
			</div><!-- #nav-search -->
			<div id="Language-choices">
			#if($displayLanguage==true)
				#set ($lang_portlet_id = "82")
				$theme.runtime($lang_portlet_id)
			#end
		</div> 
		</div>
		
		<div class="page-content">
			#if ($selectable)
				$theme.include($content_include)
			#else
				$portletDisplay.recycle()
	
				$portletDisplay.setTitle($the_title)
	
				$theme.wrapPortlet("portlet.vm", $content_include)
			#end
		</div>
	</div>
	<div class="ace-settings-container" id="ace-settings-container">
		<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
			<i class="icon-cog bigger-150"></i>
		</div>
	
		<div class="ace-settings-box" id="ace-settings-box">
			<div>
				<div class="pull-left">
					<select id="skin-colorpicker" class="hide">
						<option data-skin="default" value="#438EB9">#438EB9</option>
						<option data-skin="skin-dark" value="#222A2D">#222A2D</option>
						<option data-skin="skin-purple" value="#C6487E">#C6487E</option>
						<option data-skin="skin-gray" value="#D0D0D0">#D0D0D0</option>
					</select>
				</div>
				<span>&nbsp; Choose Skin</span>
			</div>
	
			<div>
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
				<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
			</div>
	
			<div>
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
				<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
			</div>
	
			<div>
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
				<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
			</div>
	
			<div>
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
				<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
			</div>
	
			
		</div>
	</div><!-- /#ace-settings-container -->
		
</div><!-- /.main-container -->
</div>
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
	<i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
#if ($theme_settings.display-footer == true)
	#parse ("$full_templates_path/footer.vm")
#end

</div>	
	
$theme.include($body_bottom_include)

</body>

$theme.include($bottom_include)
	

	<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='$javascript_folder/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>
	<!-- <![endif]-->

	<!--[if IE]>
		<script type="text/javascript">
		 	window.jQuery || document.write("<script src='$javascript_folderjs/jquery-1.10.2.min.js'>"+"<"+"/script>");
		</script>
	<![endif]-->

	<script type="text/javascript">
		if("ontouchend" in document) document.write("<script src='$javascript_folder/jquery.mobile.custom.min.js'>"+"<"+"/script>");
	</script>
	
	<script src="$javascript_folder/bootstrap.min.js"></script>
	<script src="$javascript_folder/ace-elements.min.js"></script>
	<script src="$javascript_folder/ace.js"></script>
</html>