<div class="sidebar" id="sidebar">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>

	$side-bar-shortcut
	
	<nav class="$nav_css_class" id="navigation" role="navigation">
		<ul aria-label="#language ("site-pages")" role="menubar" class="nav nav-list">
			#foreach ($nav_item in $nav_items)
			
				## ---------- Get item Icon class from custom field ---------- ##
				#set($navItem-icon1 = $nav_item.getLayout().getExpandoBridge().getAttribute($customFieldName1))
				#set($navItem-icon2 = $nav_item.getLayout().getExpandoBridge().getAttribute($customFieldName2))
				## ----------!End Get item Icon class from custom field ---------- ##
				
				#set ($nav_item_attr_has_popup="")
				#set ($nav_item_attr_selected="")
				#set ($nav_item_css_class = "")
				#if ($nav_item.isSelected())
					#set ($nav_item_attr_selected="aria-selected='true'")
					#set ($nav_item_css_class = "active")
				#end
	
				#if ($nav_item.hasChildren() && $nav_item.isSelected())
					#set ($nav_item_css_class = "active open")
				#end
				
				#if ($nav_item.hasChildren())
					#set ($nav_item_attr_has_popup="aria-haspopup='true'")
				#end			
				<li id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="presentation" class="$nav_item_css_class">
					#if ($nav_item.hasChildren())
						<a aria-labelledby="layout_$nav_item.getLayoutId()" href="#" class="dropdown-toggle" $nav_item_attr_has_popup $nav_item.getTarget() role="menuitem">
							#if ($navItem-icon1 == "")
								$nav_item.icon()
							#else
								<i class="$navItem-icon1 first-i"></i>
							#end
							<span class="menu-text"> $nav_item.getName()</span>
							<i class="$navItem-icon2 second-i"></i>
							<b class="arrow icon-angle-down"></b>
						</a>
									
						<ul class="submenu">
							#foreach ($nav_child in $nav_item.getChildren())
								
								## ---------- Get item Icon class from custom field ---------- ##
								#set($navItem-icon1 = $nav_child.getLayout().getExpandoBridge().getAttribute($customFieldName1))
								#set($navItem-icon2 = $nav_child.getLayout().getExpandoBridge().getAttribute($customFieldName2))
								## ----------!End Get item Icon class from custom field ---------- ##
								
								#set ($nav_child_attr_has_popup="")
								#set ($nav_child_attr_selected="")
								#set ($nav_child_css_class = "")
								#if ($nav_child.isSelected())
									#set ($nav_child_attr_selected="aria-selected='true'")
									#set ($nav_child_css_class = "active")
								#end
					
								#if ($nav_child.hasChildren() && $nav_child.isSelected())
									#set ($nav_child_css_class = "active open")
								#end
								
								#if ($nav_child.hasChildren())
									#set ($nav_child_attr_has_popup="aria-haspopup='true'")
								#end	
								
								<li id="layout_$nav_child.isSelected()" $nav_child_attr_selected role="presentation" class="$nav_child_css_class">
									
									#if ($nav_child.hasChildren())
										<a aria-labelledby="layout_$nav_child.getLayoutId()" href="#" class="dropdown-toggle" $nav_child_attr_has_popup $nav_child.getTarget() role="menuitem">
						
											<i class="icon-double-angle-right"></i>
											#if ($navItem-icon1 == "")
												$nav_child.icon()
											#else
												<i class="$navItem-icon1 first-i"></i>
											#end		
											<span class="menu-text"> $nav_child.getName()</span>
											
											<b class="arrow icon-angle-down"></b>
										</a>
		
										<ul class="submenu">
											#foreach ($nav_child2 in $nav_child.getChildren())
												## ---------- Get item Icon class from custom field ---------- ##
												#set($navItem-icon1 = $nav_child2.getLayout().getExpandoBridge().getAttribute($customFieldName1))
												#set($navItem-icon2 = $nav_child2.getLayout().getExpandoBridge().getAttribute($customFieldName2))
												## ----------!End Get item Icon class from custom field ---------- ##
												
												#set ($nav_child2_attr_has_popup="")
												#set ($nav_child2_attr_selected="")
												#set ($nav_child2_css_class = "")
												#if ($nav_child2.isSelected())
													#set ($nav_child2_attr_selected="aria-selected='true'")
													#set ($nav_child2_css_class = "active")
												#end
									
												#if ($nav_child2.hasChildren() && $nav_child2.isSelected())
													#set ($nav_child2_css_class = "active open")
												#end
												
												#if ($nav_child2.hasChildren())
													#set ($nav_child2_attr_has_popup="aria-haspopup='true'")
												#end
												
												<li id="layout_$nav_child2.getLayoutId()" $nav_child2_attr_selected role="presentation" class="$nav_child2_css_class">
													#if ($nav_child2.hasChildren())
														<a aria-labelledby="layout_$nav_child2.getLayoutId()" href="#" class="dropdown-toggle" $nav_child2_attr_has_popup $nav_child2.getTarget() role="menuitem">
						
															
															#if ($navItem-icon1 == "")
																$nav_child2.icon()
															#else
																<i class="$navItem-icon1 first-i"></i>
															#end
															<span class="menu-text"> $nav_child2.getName()</span>
															
															<b class="arrow icon-angle-down"></b>
														</a>
														<ul class="submenu">
															#foreach ($nav_child3 in $nav_child2.getChildren())
																
																## ---------- Get item Icon class from custom field ---------- ##
																#set($navItem-icon1 = $nav_child3.getLayout().getExpandoBridge().getAttribute($customFieldName1))
																#set($navItem-icon2 = $nav_child3.getLayout().getExpandoBridge().getAttribute($customFieldName2))
																## ---------- !End Get item Icon class from custom field ---------- ##
					
																#set ($nav_child3_attr_has_popup="")
																#set ($nav_child3_attr_selected="")
																#set ($nav_child3_css_class = "")
																#if ($nav_child3.isSelected())
																	#set ($nav_child3_attr_selected="aria-selected='true'")
																	#set ($nav_child3_css_class = "active")
																#end
													
																#if ($nav_child3.hasChildren() && $nav_child3.isSelected())
																	#set ($nav_child3_css_class = "active open")
																#end
																
																#if ($nav_child3.hasChildren())
																	#set ($nav_child3_attr_has_popup="aria-haspopup='true'")
																#end
																
																<li id="layout_$nav_child3.getLayoutId()" $nav_child3_attr_selected role="presentation" class="$nav_child3_css_class">
													
																	<a aria-labelledby="layout_$nav_child3.getLayoutId()" href="$nav_child3.getURL()" $nav_child3.getTarget() role="menuitem">
										
																		#if ($navItem-icon1 == "")
																			$nav_child3.icon()
																		#else
																			<i class="$navItem-icon1 first-i"></i>
																		#end
																		<span class="menu-text"> $nav_child3.getName()</span>
																		<i class="$navItem-icon2 second-i"></i>
																	</a>
																</li>
											
															#end
																
														</ul>
													#else
													<a aria-labelledby="layout_$nav_child2.getLayoutId()" href="$nav_child2.getURL()" $nav_child2.getTarget() role="menuitem">				
														#if ($navItem-icon1 == "")
															$nav_child2.icon()
														#else
															<i class="$navItem-icon1 first-i"></i>
														#end
														<span class="menu-text"> $nav_child2.getName()</span>
														<i class="$navItem-icon2 second-i"></i>
														</a>
													#end
												</li>
												
											#end
										</ul>
									#else
										<a aria-labelledby="layout_$nav_child.getLayoutId()" href="$nav_child.getURL()" $nav_child.getTarget() role="menuitem">
											<i class="icon-double-angle-right"></i>
											#if ($navItem-icon1 == "")
												$nav_child.icon()
											#else
												<i class="$navItem-icon1 first-i"></i>
											#end
											<span class="menu-text"> $nav_child.getName()</span>
											<i class="$navItem-icon2 second-i"></i>
										</a>
									#end
								</li>
							#end					
						</ul>
							
					#else
						<a aria-labelledby="layout_$nav_item.getLayoutId()" href="$nav_item.getURL()" $nav_item_attr_has_popup $nav_item.getTarget() role="menuitem">
							#if ($navItem-icon1 == "")
								$nav_item.icon()
							#else
								<i class="$navItem-icon1 first-i"></i>
							#end
							<span class="menu-text"> $nav_item.getName()</span>
							<i class="$navItem-icon2 second-i"></i>
						</a>
					#end
				</li>
				
				
			#end
		</ul>
	</nav>
	
	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
	</div>
	
	<script src="$javascript_folder/jquery-1.10.2.min.js"></script>
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
		$( document ).ready(function() {
			$('.submenu li.active').parents('li').addClass('open');
			
		});
	</script>
</div>