<p>
	[$MEMBER_REQUEST_USER$](e)k "[$MEMBER_REQUEST_GROUP$]" talderako gonbidapena luzatu dizu.
</p>

<p>

	Erabiltzaile berria zarenez, gonbidapena onartzeko datuak bete:<br /><br />

	<a href="[$MEMBER_REQUEST_CREATE_ACCOUNT_URL$]">Erabiltzailea sortu</a>
</p>

<p>
	Behin kontua sortu ondoren, "[$MEMBER_REQUEST_GROUP$]" taldea hemen izango duzu eskuragarri:<br /><br />

	<a href="[$MEMBER_REQUEST_LOGIN_URL$]">ELKARLANA SARBIDEA</a>

</p>

<p>
	-------------------------------------------------------------------
</p>

<p>
	[$MEMBER_REQUEST_USER$] te ha invitado a participar en "[$MEMBER_REQUEST_GROUP$]" .
</p>

<p>
	Para poder aceptar o rechazar la invitación, necesita crear una nueva cuenta de usuario/a :<br />

	<a href="[$MEMBER_REQUEST_CREATE_ACCOUNT_URL$]">Crear cuenta</a>
</p>

<p>
	Una vez que acepte la invitación, podrá acceder a  "[$MEMBER_REQUEST_GROUP$]" mediante:<br />

	<a href="[$MEMBER_REQUEST_LOGIN_URL$]">ELKARLANA SARBIDEA</a>
</p>

<p>
	-- [$ADMIN_NAME$]
</p>