Dear [$SUBSCRIPTOR_FULLNAME$],
<br/><br/>
you have requested subscription to the newsletter of the portal. To confirm the process you need to visit the following link:
<br/>
<a href="[$SUBSCRIPTION_URL$]">Confirm subscription</a>

<br/>
<br/>
<br/>
___________________________________________________________
<br/>
<br/>
<br/>

Estimado [$SUBSCRIPTOR_FULLNAME$],
<br/><br/>
ha solicitado la suscripción a las newsletter del portal. Para confirmar el proceso es necesario que visite el siguiente enlace:
<br/>
<a href="[$SUBSCRIPTION_URL$]">Confirmar suscripción</a>