#*********************** side-bar-shortcut *********************#

#if ($journalContentUtil.getContent($group_id, $theme_settings.side-bar-shortcut, null, "$locale", $theme_display))
	#set ($side-bar-shortcut = $journalContentUtil.getContent($group_id, $theme_settings.side-bar-shortcut, null, "$locale", $theme_display))
#else
	#set ($side-bar-shortcut =  $theme_settings.side-bar-shortcut)
#end


## ---------- Footer Content ---------- ##

#if ($journalContentUtil.getContent($group_id, $theme_settings.footer-section-1-article-id, null, "$locale", $theme_display))
	#set ($footer_section_1 = $journalContentUtil.getContent($group_id, $theme_settings.footer-section-1-article-id, null, "$locale", $theme_display))
#else
	#set ($footer_section_1 =  $theme_settings.footer-section-1-article-id)
#end


## ---------- Custom Field Naviagtion item Icon class ---------- ##
 
#set ($customFieldName1 = "navItem-icon1")
#if ($layout.getExpandoBridge().hasAttribute($customFieldName1) == false)
	#set($VOID = $layout.getExpandoBridge().addAttribute($customFieldName1, 15, false))
#end
#set ($customFieldName2 = "navItem-icon2")
#if ($layout.getExpandoBridge().hasAttribute($customFieldName2) == false)
	#set($VOID = $layout.getExpandoBridge().addAttribute($customFieldName2, 15, false))
#end
#set($navItem-icon1 ="")
#set($navItem-icon2 ="")

## ----------  Language bar ---------- ##
#if ($theme_settings.show-language-choice==true)
	#set ($displayLanguage = true)
#end


#********************** header-menu ***************************#
#if ($journalContentUtil.getContent($group_id, $theme_settings.header-menu, null, "$locale", $theme_display))
	#set ($header-menu = $journalContentUtil.getContent($group_id, $theme_settings.header-menu, null, "$locale", $theme_display))
#else
	#set ($header-menu =  $theme_settings.header-menu)
#end

#*********************** search-box-content *********************#
#if ($journalContentUtil.getContent($group_id, $theme_settings.search-box-content, null, "$locale", $theme_display))
	#set ($search-box-content = $journalContentUtil.getContent($group_id, $theme_settings.search-box-content, null, "$locale", $theme_display))
#else
	#set ($search-box-content =  $theme_settings.search-box-content)
#end

#*********************** page-title *********************#
#set ($customFieldName3 = "show-page-title")
#if ($layout.getExpandoBridge().hasAttribute($customFieldName3) == false)
	#set($VOID = $layout.getExpandoBridge().addAttribute($customFieldName3, 1, false))
#end
